/*body {
  font-family: sans-serif;
  margin: auto;
  max-width: 1280px;
}

.navbar {
  background-color: #313236;
  border-radius: 2px;
  max-width: 800px;
}

.navbar a {
  color: #aaa;
  display: inline-block;
  font-size: 15px;
  padding: 10px;
  text-decoration: none;
}

.navbar a:hover {
  color: #ffffff;
}

.gap100 {
  padding-top: 100px;
}*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*it allows us to include the padding and border in an element's total width and height*/
}

@media screen and (max-width: 768px) {
  .features-grid-row .w-50 {
    width: 80%
    margin-left; auto;margin-right: auto;
  }
}

.features-grid-row.d-flex-r{flex-direction: column;}

.img-responsive {
  position: relative;
  display: flex;
  flex-wrap: wrap;
}